{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="profile-container">
    <div class="profile-flex">
        <div class="profile-sidebar">
           <div class="avatar-container">
                {% if user.avatar and user.avatar.url %}
                    <img src="{{ user.avatar.url }}" alt="Аватар" class="avatar-image">
                {% else %}
                    <div class="avatar-placeholder">
                        <svg xmlns="http://www.w3.org/2000/svg" class="default-avatar-icon" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z"/>
                        </svg>
                    </div>
                {% endif %}
            </div>


            <h2 class="username">{{ user.username }}</h2>
            <p class="user-email">{{ user.email }}</p>

            <div class="profile-actions">
                <a href="{% url 'edit_profile' %}" class="btn-edit">Редактировать профиль</a>
                <a href="{% url 'change_password' %}" class="btn-change-password">Сменить пароль</a>
            </div>
        </div>

        <div class="profile-content">
            <h3 class="section-title">Мои данные</h3>

            <div class="info-card">
                <div class="info-grid">
                    <div class="info-item">
                        <p class="info-label">Имя пользователя</p>
                        <p class="info-value">{{ user.username }}</p>
                    </div>
                    <div class="info-item">
                        <p class="info-label">Email</p>
                        <p class="info-value">{{ user.email }}</p>
                    </div>
                    <div class="info-item">
                        <p class="info-label">Дата регистрации</p>
                        <p class="info-value">{{ user.date_joined|date:"d.m.Y" }}</p>
                    </div>
                </div>
            </div>

            <h3 class="section-title">Мои достижения</h3>
            <div class="habits-card">
                <p class="habits-placeholder">Здесь ваши награды за достижения...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}